
<div class="page_navigation">
<p>
<a href="/">Index</a> |
<a href="<%= @new_page_form_uri %>" id="new_page_link" target="__new">New Page</a> 
<% if !@edit_url.nil? %>|
<a href="<%= @edit_url %>" target="__new">Edit</a>
<% end %>
</p>
</div>


<% unless @bread_crumbs.nil? %>
<div id="bread_crumbs">
	<%= nodes_to_li @bread_crumbs, " -> " %>
</div>
<% end %>

<div class="content">
<%= @content %>
</div>

<div id="children">
	
	<ul>
		<%= nodes_to_li @children %>
	</ul>
</div>