
<div class="page_navigation">
<p>
<a href="/">Index</a> |
<a href="<%= @new_page_form_uri %>" target="__new">New Page</a> 
<% if !@edit_url.nil? %>|
<a href="<%= @edit_url %>" target="__new">Edit</a>
<% end %>
</p>
</div>


<% unless @bread_crumbs.nil? %>
<div id="bread_crumbs">
	<%= @bread_crumbs.join " -> " %>
</div>
<% end %>

<div class="content">
<%= @content %>
</div>

<div id="children">
	
<%= @children.join( '' ) unless @children.nil? %>

</div>